h1 NOTES

.row
  .small-8.columns
    h3 VIEW
    table#notes
      thead
        tr
          th Title
          th Tags
      tbody
        tr(ng-repeat='note in notes')
          td {{note.title}}
          td
            span.tag(ng-repeat='name in note.tag_names')
              a(href='/notes?tag={{name}}') {{name}}
  .small-4.columns
    h3 CREATE
    input(type='text', ng-model='note.title', placeholder='Title')
    textarea(ng-model='note.body')
    input(type='text', ng-model='note.tags', placeholder='tag1,tag2,tag3')
    button.radius.success(ng-click='create(note)') Create
